<!-- filepath: c:\Users\user\PycharmProjects\django-darslari\barbershop_project\django-appointment\appointment\templates\registration\password_reset_confirm.html -->
{% extends "base_templates/base.html" %}
{% load i18n %}
{% load static %}
{% block customCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base-style.css' %}"/>
{% endblock %}
{% block body %}
<div class="form-container">
    <h2>Set New Password</h2>
    <p>Please enter your new password below.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-errors">
            {{ form.new_password1.errors }}
        </div>
        <div class="form-group">
            <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </span>
            {{ form.new_password1 }}
        </div>
        <div class="form-errors">
            {{ form.new_password2.errors }}
        </div>
        <div class="form-group">
            <span class="icon">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </span>
            {{ form.new_password2 }}
        </div>
        <button type="submit" class="btn-submit">Set Password</button>
    </form>
</div>
{% endblock %}