<!-- filepath: c:\Users\user\PycharmProjects\django-darslari\barbershop_project\django-appointment\appointment\templates\registration\password_reset_complete.html -->
{% extends "base_templates/base.html" %}
{% block body %}
<div class="form-container">
    <h2>{% trans "Password Reset Complete" %}</h2>
    <p>{% trans "Your password has been successfully reset. You can now log in with your new password." %}</p>
    <div class="signup-link">
        <p><a href="{% url 'login' %}">{% trans "Back to Login" %}</a></p>
    </div>
</div>
{% endblock %}